.text{

    left: 5%;
  
}
.navbar{

top: 0 !important;
left: 0 !important;
right: 0 !important;
z-index: 1 !important;
position:fixed !important;  

color:white !important;

background-color:rgb(15, 15, 15)!important;

}